/* cartPage.css */

/* Căn giữa phần nội dung của trang */
.cart-page {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Đặt phần nội dung bắt đầu từ trên */
    padding-top: 150px; /* Thêm khoảng cách từ phía trên để tránh header che khuất */
    padding-bottom: 70px; /* Thêm khoảng cách từ phía dưới */
    background-color: #f5f5f5;
    border-bottom: 5px solid var(--primary-color);
}

/* Phần nội dung chính */
.cart-content {
    background-color: var(--white-color);
    padding: 15px;
}

/* Tiêu đề */
.cart-content__header {
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 5px solid var(--primary-color);
    text-align: center;
}

.cart-content__type {
    font-size: 1.4rem;
    line-height: 55px;
    margin-bottom: 12px;
    margin: 0;
}

.cart__item {
    font-size: 1.4rem;
    align-items: center;
    color: var(--text-color);
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color);
}

.cart__item:last-child {
    border: none;
}

.cart__item-intro {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    align-items: center;
}

.cart-item_quantity {
    display: flex;
}

.cart-item_quantity p {
    width: 50px;
    height: 32px;
    border: 1px solid var(--border-color);
    text-align: center;
    margin: 0;
    line-height: 2.8rem;
}

.cart-item_quantity button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    color: var(--text-color);
}

.cart__item-total {
    color: var(--primary-color);
}

.cart__item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}
